@use './base/defaults';
@use './base/fonts';
@use './base/normalize';
@use './base/pygments';
@use './blocks/client-grid';
@use './blocks/hero';
@use './blocks/homepage-content';
@use './blocks/nav';
@use './blocks/post';
@use './blocks/skip-link';
@use './common/media';
@use './common/typography';

html {
	font-size: 18px;
}

body {
	font-family: typography.$font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: typography.$font-display;
	font-weight: 500;
}

pre, code {
	font-family: typography.$font-code;
}

.page {
	max-width: 42em;
	margin: 0 auto;
	padding: 0 1em 2em;
}

.page__heading {
	@include typography.h1;

	margin-bottom: 1em;
}

.masthead {
	margin: 12vh 0 4em;
}

.masthead__site-name {
	text-decoration: none;
	color: inherit;
	display: block;
	font-family: typography.$font-display;
	font-weight: bold;
	font-size: 1.25em;

	&:hover {
		color: var(--accent-1);
	}
}

.post-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-list__item {
	margin: 0 0 1em;
}

.post-list__link {
	display: block;
}

.sidebar__container {
	position: relative;
}

.footer {
	margin-top: 4em;
}