@use '../common/media';

.nav__items {
  list-style: none;
  padding: 0;
  margin: 0 0 4em;
}

.nav__item {
  margin-bottom: 0.25em;

  @include media.tablet-portrait-up {
    margin-bottom: 0;
    margin-right: 0.75em;
    display: inline-block;
  }

  &::after {
    @include media.tablet-portrait-up {
      margin-left: 0.75em;
      content: '·';
      opacity: 0.666666;
    }
  }

  &:last-child::after {
    content: none;
  }

  a[target="_blank"]::after {
    font-family: monospace; // this stops iOS converting ↗ to an emoji
    content: '↗';
    padding-left: 0.25em;
    display: inline-block;
    font-size: 92.5%;
  }
}