@use '../common/media';
@use '../common/typography';

.post__header {
	margin: 0 0 4em;
}

.post__headline {
	@include typography.h1;
	
	margin-bottom: 0 0 0.25em;
}

.post__dateline {
	margin-bottom: 2em;
	display: block;
}

.post__content pre {
	padding: 1em;
	margin: 2em -1em;
	overflow: auto;
	white-space: pre;
	
	@include media.tablet-portrait-up {
		padding: 1.5em;
		margin: 2em -1.5em;
	}
}

.post__featured-image {
	margin: 0;

	img {
		margin: 0;
	}
}