{{ define "main" }}
	<article class="post">
		<div class="post__header">
      <div class="post__meta">
		  	<h1 class="post__headline">{{.Title}}</h1>
		  	<a href="{{.Permalink}}"><time class="post__dateline" datetime="{{.Date}}">{{.Date.Format "2 January 2006"}}</time></a>
      </div>
      {{ if .Params.featured_image }}
      <figure class="post__featured-image">
        <img alt="{{ if .Params.featured_image_alt }}{{.Params.featured_image_alt}}{{end}}" src="/{{.Params.featured_image}}">
        {{ if .Params.featured_image_caption }}
        <figcaption class="post__featured-image-caption">{{.Params.featured_image_caption | markdownify}}</figcaption>
        {{ end }}
      </figure>
      {{ end }}
	  </div>
    <div class="post__content">
  	  {{.Content}}
    </div>
  </article>
{{ end }}
