<nav class="nav">
	<ul class="nav__items">
		<li class="nav__item">
			<a href="/services/">Services</a>
		</li>
		<li class="nav__item">
			<a href="mailto:j@jshakespeare.com">Email</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://www.linkedin.com/in/james-shakespeare-40784435/">LinkedIn</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://read.cv/jshakes">CV</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://github.com/jshakes">GitHub</a>
		</li>
	</ul>
</nav>
