{{ define "main" }}
  <div class="hero">
    <p class="hero__intro">I’m <strong>James Shakespeare</strong>, a software engineer. I build complex products that are easy to use.</p>
    <p class="hero__availability"><a href="https://codepen.io/jshakes/pen/gOQJxQK" class="hero__availability-indicator" aria-hidden="true" target="_blank"></a> I'm currently available for new contracts! You should <a href="mailto:j@jshakespeare.com">email me</a> if you need a product engineering specialist to help launch your next project 🚀 (<a href="/services/">Read more</a>)</p>
    {{ partial "links.html" }}
    <hr class="hero__hr">
  </div>
  <h2>About me</h2>
  <p>I have over 15 years of software development experience in the UK and US tech industry. During that time I have worked with businesses of all shapes and sizes, from pre-seed startups to Fortune 500 companies. I have worked as an individual contributor and as a manager in high-performing engineering teams, as well as in 'army of one' cross-functional roles. I have been involved with every stage of the software development lifecycle and have written, tested, and shipped code that has been used by millions of people.</p>
  <p>I mostly help clients with full-stack web development, and I specialize in browser-based technology. I’m fluent in languages like HTML, CSS, and JavaScript/TypeScript and I have lots of experience with frontend frameworks like React, but I know how to pick the right tools for the job.</p>
  <section class="homepage-content__section">
    <h2 class="homepage-content__section-heading">Recent posts</h2>
    <!-- Ranges through content/posts/*.md -->
    {{ $currentYear := now.Year }}
    {{ $lastYear := add $currentYear -2 }}
    {{ $posts := where .Site.RegularPages "Type" "post" }}
    {{ $recentPosts := where .Site.RegularPages "Date.Year" "ge" $lastYear }}
    <ul class="post-list">
      {{ range $recentPosts }}
      <li class="post-list__item">
        <a href="{{.Permalink}}" class="post-list__link">{{.Title}}</a>
        <small><time datetime="{{.Date}}" class="post-list__date">{{.Date.Format "2 January 2006"}}</time></small>
      </li>
    {{ end }}
    </ul>
    <p>(<a class="cta" href="/posts/">Archive</a>)</p>
  </section>
{{ end }}
